name: ut-cs-3005-functionality-check
on:
  workflow_call: {}

jobs:
  hello-enabled:
    name: Hello enabled?
    runs-on: self-hosted
    continue-on-error: true
    outputs:
      output1: ${{ steps.step1.outcome }}
    env:
      PROGRAM: hello
      ASSIGNMENT: hello
    steps:
      - uses: actions/checkout@v4
      - name: Enabled?
        id: step1
        run: grade_manager --cmd enabled --programs ${{ env.ASSIGNMENT }} --verbose

  hello-check:
    name: Hello
    runs-on: self-hosted
    needs: [hello-enabled]
    if: ${{ needs.hello-enabled.outputs.output1 == 'success' }}
    env:
      PROGRAM: hello
      ASSIGNMENT: hello
    steps:
      - uses: actions/checkout@v4
      - run: grade_manager --cmd make --programs ${{ env.PROGRAM }} --verbose
      - run: grade_manager --cmd grade-text --programs ${{ env.PROGRAM }} --acceptance-tests-location ${{ env.ASSIGNMENT }}/acceptance_tests --verbose

##########################################################################

  questions-3-enabled:
    name: Questions 3 enabled?
    runs-on: self-hosted
    continue-on-error: true
    outputs:
      output1: ${{ steps.step1.outcome }}
    env:
      PROGRAM: questions_3
      ASSIGNMENT: questions_3
    steps:
      - uses: actions/checkout@v4
      - name: Enabled?
        id: step1
        run: grade_manager --cmd enabled --programs ${{ env.ASSIGNMENT }} --verbose

  questions-3-check:
    name: Questions 3
    runs-on: self-hosted
    needs: [questions-3-enabled]
    continue-on-error: false
    if: ${{ needs['questions-3-enabled'].outputs.output1 == 'success' }}
    env:
      PROGRAM: questions_3
      ASSIGNMENT: questions_3
      ASSIGNMENT_NUMBER: 1
    steps:
      - uses: actions/checkout@v4
      - run: grade_manager --cmd make --programs ${{ env.PROGRAM }} --verbose
      - run: grade_manager --cmd grade-text --programs ${{ env.PROGRAM }} --acceptance-tests-location ${{ env.ASSIGNMENT }}/acceptance_tests --verbose

  questions-3-unit-tests-enabled:
    name: Questions 3 unit tests enabled?
    runs-on: self-hosted
    needs: [questions-3-enabled]
    continue-on-error: true
    if: ${{ needs['questions-3-enabled'].outputs.output1 == 'success' }}
    outputs:
      output1: ${{ steps.step1.outcome }}
    env:
      ASSIGNMENT: questions_3_unit_tests
    steps:
      - uses: actions/checkout@v4
      - name: Enabled?
        id: step1
        run: grade_manager --cmd enabled --programs ${{ env.ASSIGNMENT }} --verbose

  questions-3-unit-tests:
    name: Questions 3 Unit Tests
    runs-on: self-hosted
    needs: [questions-3-unit-tests-enabled]
    continue-on-error: false
    if: ${{ needs['questions-3-unit-tests-enabled'].outputs.output1 == 'success' }}
    env:
      ASSIGNMENT_NUMBER: 1
    steps:
      - uses: actions/checkout@v4
      - run: grade_manager --cmd unit-test --unit-test-working-directory ${{ github.workspace }} --unit-test-assignment-number ${{ env.ASSIGNMENT_NUMBER }} --verbose

##########################################################################

  ascii-image-enabled:
    name: ASCII Image enabled?
    runs-on: self-hosted
    continue-on-error: true
    outputs:
      output1: ${{ steps.step1.outcome }}
    env:
      PROGRAM: ascii_image
      ASSIGNMENT: ascii_image
    steps:
      - uses: actions/checkout@v4
      - name: Enabled?
        id: step1
        run: grade_manager --cmd enabled --programs ${{ env.ASSIGNMENT }} --verbose

  ascii-image-check:
    name: ASCII Image
    runs-on: self-hosted
    needs: [ascii-image-enabled]
    continue-on-error: false
    if: ${{ needs.ascii-image-enabled.outputs.output1 == 'success' }}
    env:
      PROGRAM: ascii_image
      ASSIGNMENT: ascii_image
      ASSIGNMENT_NUMBER: 2
    steps:
      - uses: actions/checkout@v4
      - run: grade_manager --cmd make --programs ${{ env.PROGRAM }} --verbose
      - run: grade_manager --cmd grade-text --programs ${{ env.PROGRAM }} --acceptance-tests-location ${{ env.ASSIGNMENT }}/acceptance_tests --verbose

  ascii-image-unit-tests-enabled:
    name: ASCII Image unit tests enabled?
    runs-on: self-hosted
    needs: [ascii-image-enabled]
    continue-on-error: true
    outputs:
      output1: ${{ steps.step1.outcome }}
    env:
      ASSIGNMENT: ascii_image_unit_tests
    steps:
      - uses: actions/checkout@v4
      - name: Enabled?
        id: step1
        run: grade_manager --cmd enabled --programs ${{ env.ASSIGNMENT }} --verbose

  ascii-image-unit-tests:
    name: ASCII Image Unit Tests
    runs-on: self-hosted
    needs: [ascii-image-unit-tests-enabled]
    continue-on-error: false
    if: ${{ needs.ascii-image-unit-tests-enabled.outputs.output1 == 'success' }}
    env:
      ASSIGNMENT_NUMBER: 2
    steps:
      - uses: actions/checkout@v4
      - run: grade_manager --cmd unit-test --unit-test-working-directory ${{ github.workspace }} --unit-test-assignment-number ${{ env.ASSIGNMENT_NUMBER }} --verbose

      ##########################################################################

  image-file-enabled:
    name: Image File enabled?
    runs-on: self-hosted
    continue-on-error: true
    outputs:
      output1: ${{ steps.step1.outcome }}
    env:
      PROGRAM: image_file
      ASSIGNMENT: image_file
    steps:
      - uses: actions/checkout@v3
      - name: Enabled?
        id: step1
        run: grade_manager --cmd enabled --programs ${{ env.ASSIGNMENT }} --verbose
        
  image-file-check:
    name: Image File
    runs-on: self-hosted
    needs: [image-file-enabled]
    continue-on-error: false
    if: ${{ needs.image-file-enabled.outputs.output1 == 'success' }}
    env:
      PROGRAM: image_file
      ASSIGNMENT: image_file
      ASSIGNMENT_NUMBER: 3
    steps:
      - run: grade_manager --cmd make --programs ${{ env.PROGRAM }} --verbose
      - run: grade_manager --cmd grade-ppm --programs ${{ env.PROGRAM }} --acceptance-tests-location ${{ env.ASSIGNMENT }}/acceptance_tests --image-location images --image-link images --verbose
        
  image-file-unit-tests-enabled:
    name: Image File unit tests enabled?
    runs-on: self-hosted
    needs: [image-file-enabled]
    continue-on-error: true
    outputs:
      output1: ${{ steps.step1.outcome }}
    env:
      ASSIGNMENT: image_file_unit_tests
    steps:
      - uses: actions/checkout@v3
      - name: Enabled?
        id: step1
        run: grade_manager --cmd enabled --programs ${{ env.ASSIGNMENT }} --verbose
        
  image-file-unit-tests:
    name: Image File Unit Tests
    runs-on: self-hosted
    needs: [image-file-unit-tests-enabled]
    continue-on-error: false
    if: ${{ needs.image-file-unit-tests-enabled.outputs.output1 == 'success' }}
    env:
      ASSIGNMENT_NUMBER: 3
    steps:
      - run: grade_manager --cmd unit-test --unit-test-working-directory ${{ github.repository }} --unit-test-assignment-number ${{ env.ASSIGNMENT_NUMBER }} --verbose

      ##########################################################################
        