name: ut-cs-3005-functionality-check
on: [push]
jobs:

##########################################################################

  pull-code:
    name: Pull source code
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3
        
##########################################################################

  hello-enabled:
    name: Hello enabled?
    runs-on: self-hosted
    needs: [pull-code]
    continue-on-error: true
    outputs:
      output1: ${{ steps.step1.outcome }}
    env:
      PROGRAM: hello
      ASSIGNMENT: hello
    steps:
      - uses: actions/checkout@v3
      - name: Enabled?
        id: step1
        run: grade_manager --cmd enabled --programs ${{ env.ASSIGNMENT }} --verbose
        
  hello-check:
    name: Hello
    runs-on: self-hosted
    needs: [hello-enabled]
    continue-on-error: false
    if: ${{ needs.hello-enabled.outputs.output1 == 'success' }}
    env:
      PROGRAM: hello
      ASSIGNMENT: hello
    steps:
      - run: grade_manager --cmd make --programs ${{ env.PROGRAM }} --verbose
      - run: grade_manager --cmd grade-text --programs ${{ env.PROGRAM }} --acceptance-tests-location ${{ env.ASSIGNMENT }}/acceptance_tests --verbose
        
##########################################################################

  questions-3-enabled:
    name: Questions 3 enabled?
    runs-on: self-hosted
    needs: [pull-code]
    continue-on-error: true
    outputs:
      output1: ${{ steps.step1.outcome }}
    env:
      PROGRAM: questions_3
      ASSIGNMENT: questions_3
    steps:
      - uses: actions/checkout@v3
      - name: Enabled?
        id: step1
        run: grade_manager --cmd enabled --programs ${{ env.ASSIGNMENT }} --verbose
        
  questions-3-check:
    name: Questions 3
    runs-on: self-hosted
    needs: [questions-3-enabled]
    continue-on-error: false
    if: ${{ needs.questions-3-enabled.outputs.output1 == 'success' }}
    env:
      PROGRAM: questions_3
      ASSIGNMENT: questions_3
      ASSIGNMENT_NUMBER: 1
    steps:
      - run: grade_manager --cmd make --programs ${{ env.PROGRAM }} --verbose
      - run: grade_manager --cmd grade-text --programs ${{ env.PROGRAM }} --acceptance-tests-location ${{ env.ASSIGNMENT }}/acceptance_tests --verbose
        
  questions-3-unit-tests-enabled:
    name: Questions 3 unit tests enabled?
    runs-on: self-hosted
    needs: [questions-3-enabled]
    continue-on-error: true
    if: ${{ needs.questions-3-enabled.outputs.output1 == 'success' }}
    outputs:
      output1: ${{ steps.step1.outcome }}
    env:
      ASSIGNMENT: questions_3_unit_tests
    steps:
      - uses: actions/checkout@v3
      - name: Enabled?
        id: step1
        run: grade_manager --cmd enabled --programs ${{ env.ASSIGNMENT }} --verbose
        
  questions-3-unit-tests:
    name: Questions 3 Unit Tests
    runs-on: self-hosted
    needs: [questions-3-unit-tests-enabled]
    continue-on-error: false
    if: ${{ needs.questions-3-unit-tests-enabled.outputs.output1 == 'success' }}
    env:
      ASSIGNMENT_NUMBER: 1
    steps:
      - run: grade_manager --cmd unit-test --unit-test-working-directory ${{ github.repository }} --unit-test-assignment-number ${{ env.ASSIGNMENT_NUMBER }} --verbose
        
##########################################################################
