name: ut-cs-3005-functionality-check
on:
  workflow_call: {}

jobs:
    ppm-menu-check:
    name: PPM Menu
    runs-on: self-hosted
    needs: [ppm-menu-enabled]
    if: ${{ needs.ppm-menu-enabled.outputs.output1 == 'success' }}
    env:
      PROGRAM: ppm_menu
      ASSIGNMENT: ppm_menu
      ASSIGNMENT_NUMBER: 5
    steps:
      - uses: actions/checkout@v3

      - name: Clean
        run: make clean || true

      - name: Build
        run: grade_manager --cmd make --programs ${{ env.PROGRAM }} --verbose

      - name: Unit Tests
        run: grade_manager --cmd unit-test --unit-test-working-directory ${{ github.repository }} --unit-test-assignment-number ${{ env.ASSIGNMENT_NUMBER }} --verbose --timeout 120

      - name: Grade
        run: grade_manager --cmd grade-ppm --programs ${{ env.PROGRAM }} --acceptance-tests-location ${{ env.ASSIGNMENT }}/acceptance_tests --image-location images --image-link images --verbose
        
########################################################################## 
        